<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.backend.mapper.DataLeakedByStateMapper">

    <resultMap id="BaseResultMap" type="com.test.backend.model.entity.DataLeakedByState">
            <id property="id" column="id" />
            <result property="state" column="state" />
            <result property="leaktype" column="leakType" />
            <result property="year" column="year" />
            <result property="reports" column="reports" />
    </resultMap>

    <sql id="Base_Column_List">
        id,state,leakType,year,reports
    </sql>
</mapper>
